/*Variables for CSS Usage*/

//Width and Heights
$off-canvas-width: 270px;
$top-navbar: 76px;
$top-navbar1: 80px;
$navbar-width: 250px;
//Color Code
$color-1: #c3aefe;
$color-2: #343434;
$color-3: #4aa2f9;
$color-4: #ffe6ae;
$color-5: #e7d1f8;
$color-6: #d48bcb;
$color-7: #f5f5f5;
//Media Query Break Points
$medium-max-width: 768px;
$large-min-width: 992px;
$small-max-width: 576px;
$Medium-Little-bit-max-width: 576px;
$FourK-screen: 2000px;
